<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main_wrapper"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    	<%/*
                	let data_array = [];
                	for(item in data) {
                		data_array.push([data[item].elementName, data[item].top, data[item].left, data[item].size, data[item].color, data[item].page]);
                	}
    	*/%>

    	// let data_string = "<%#=data_array%>";
                let data_string = "Brain,55,640,220,#f7c50a,Brain,Vessels,465,345,190,#ff6b12,Vessels,Kidney,700,630,220,#da7ba4,Kidney,Lungs,340,1240,220,#4b71f3,Lungs,Liver,670,1060,220,#b38127,Liver,Skin,570,1360,190,#99d9f5,Skin,Special,20,405,190,#c286c3,Special,Gastro,40,1130,220,#75bd19,Gastro,Heart,325,425,220,#fd362d,Heart,Genital,440,35,190,#d0a3a3,Genital,Immunity,430,1680,190,#70e080,Immunity,Endocrine,92,1414,190,#f7bb7c,Endocrine";

    	data_string = data_string.split(",");
    	const data_col = 6;
    	let data_count = data_string.length  / data_col;
    	for(let i = 0; i< data_count; i++ ) {
    		$(".main_wrapper")
    		.append("<div class='elements shake shake-slow shake-constant--hover' id='"+data_string[i * data_col]+"'>"+data_string[i * data_col]+"</div>")
    		.find(".elements:last-child")
    		.css({
			"top": data_string[i * data_col + 1]+"px",
			"left": data_string[i * data_col + 2]+"px",
			"width": data_string[i * data_col + 3]+"px",
			"height": data_string[i * data_col + 3]+"px",
			"line-height": (+data_string[i * data_col + 3] - 2) +"px",
			"background": data_string[i * data_col + 4]
		});

    		setTimeout(() => {
    			$(".main_wrapper").find(".elements:nth-child("+ (i + 1) +")").addClass("shake-constant");
    		}, i * 100);
    	}
    </script>
  </body>
</html>
